In [68]:
import numpy as np
import pandas as pd

In [69]:
match=pd.read_csv('iplm.csv')
delivery=pd.read_csv('iplb.csv')

In [70]:
match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [71]:
match.shape

(950, 20)

In [72]:
delivery.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [73]:
total_score_df=delivery.groupby(['ID','innings']).sum()['total_run'].reset_index()

C:\Users\vy916\AppData\Local\Temp\ipykernel_7204\2252582510.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score_df=delivery.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [74]:
total_score_df

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [75]:
total_score_df=total_score_df[total_score_df['innings']==1]

In [76]:
total_score_df

           ID  innings  total_run
0      335982        1        222
2      335983        1        240
4      335984        1        129
6      335985        1        165
8      335986        1        110
...       ...      ...        ...
1918  1304116        1        157
1920  1312197        1        188
1922  1312198        1        207
1924  1312199        1        157
1926  1312200        1        130

[950 rows x 3 columns]

In [77]:
match_df=match.merge(total_score_df[['ID','total_run']],left_on='ID',right_on='ID')

match_df

In [78]:
match_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,...,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,110
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,165
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,129
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,240
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,222

In [79]:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [80]:
teams=[
    'Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
        'Mumbai Indians', 'Kings XI Punjab'
]

In [81]:
match_df['Team1']=match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2']=match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['Team1']=match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2']=match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['Team1']=match_df['Team1'].str.replace('Punjab Kings','Kings XI Punjab')
match_df['Team2']=match_df['Team2'].str.replace('Punjab Kings','Kings XI Punjab')

In [82]:
match_df=match_df[match_df['Team1'].isin(teams)]
match_df=match_df[match_df['Team2'].isin(teams)]

In [83]:
match_df.shape

(835, 21)

In [84]:
match_df=match_df[['ID','City','WinningTeam','total_run','Team1','Team2']]

In [85]:
delivery_df=match_df.merge(delivery,on='ID')

In [86]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,1,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,2,YBK Jaiswal,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,3,JC Buttler,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,4,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,5,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198930,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
198931,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
198932,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
198933,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
198934,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [87]:
delivery_df.shape

(198935, 22)

In [88]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,1,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,2,YBK Jaiswal,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,3,JC Buttler,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,4,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,5,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198930,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
198931,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
198932,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
198933,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
198934,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [89]:
delivery_df['current_score']=delivery_df.groupby('ID').cumsum()['total_run_y']

C:\Users\vy916\AppData\Local\Temp\ipykernel_7204\1211547347.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  delivery_df['current_score']=delivery_df.groupby('ID').cumsum()['total_run_y']

In [90]:
delivery_df['run_left']=delivery_df['total_run_x'] - delivery_df['current_score']

In [91]:
delivery_df['ball_left']=120-(delivery_df['overs']*6+delivery_df['ballnumber'])

In [92]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,run_left,ball_left
0,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,1,YBK Jaiswal,...,0,0,0,NaN,NaN,NaN,Rajasthan Royals,0,130,119
1,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,2,YBK Jaiswal,...,1,0,0,NaN,NaN,NaN,Rajasthan Royals,1,129,118
2,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,3,JC Buttler,...,1,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,117
3,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,4,YBK Jaiswal,...,0,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,116
4,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,5,YBK Jaiswal,...,0,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198930,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,302,-80,31
198931,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,303,-81,30
198932,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,303,-81,29
198933,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,304,-82,29
198934,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,304,-82,28

In [93]:
wicket=delivery_df.groupby('ID').cumsum()['isWicketDelivery'].values
delivery_df['wicket']=10-wicket
delivery_df.head(10)

C:\Users\vy916\AppData\Local\Temp\ipykernel_7204\134925995.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wicket=delivery_df.groupby('ID').cumsum()['isWicketDelivery'].values

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,run_left,ball_left,wicket
0,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,1,YBK Jaiswal,...,0,0,NaN,NaN,NaN,Rajasthan Royals,0,130,119,10
1,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,2,YBK Jaiswal,...,0,0,NaN,NaN,NaN,Rajasthan Royals,1,129,118,10
2,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,3,JC Buttler,...,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,117,10
3,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,4,YBK Jaiswal,...,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,116,10
4,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,5,YBK Jaiswal,...,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,115,10
5,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,6,YBK Jaiswal,...,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,114,10
6,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,1,1,JC Buttler,...,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,113,10
7,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,1,2,JC Buttler,...,0,0,NaN,NaN,NaN,Rajasthan Royals,2,128,112,10
8,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,1,3,JC Buttler,...,0,0,NaN,NaN,NaN,Rajasthan Royals,6,124,111,10
9,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,1,4,JC Buttler,...,0,0,NaN,NaN,NaN,Rajasthan Royals,6,124,110,10

In [94]:
delivery_df['crr']=(delivery_df['current_score']*6)/(120-delivery_df['ball_left'])

In [95]:
delivery_df['rrr']=(delivery_df['run_left']*6)/delivery_df['ball_left']

In [96]:
def result(row):
    return 1 if row['BattingTeam']==row['WinningTeam'] else 0

In [97]:
delivery_df['result']=delivery_df.apply(result,axis=1)

In [98]:
final_df=delivery_df[['BattingTeam','City','run_left','ball_left','wicket','total_run_x','crr','rrr','result']]

In [99]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,kind,fielders_involved,BattingTeam,current_score,run_left,ball_left,wicket,crr,rrr,result
0,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,1,YBK Jaiswal,...,NaN,NaN,Rajasthan Royals,0,130,119,10,0.000000,6.554622,0
1,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,2,YBK Jaiswal,...,NaN,NaN,Rajasthan Royals,1,129,118,10,3.000000,6.559322,0
2,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,3,JC Buttler,...,NaN,NaN,Rajasthan Royals,2,128,117,10,4.000000,6.564103,0
3,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,4,YBK Jaiswal,...,NaN,NaN,Rajasthan Royals,2,128,116,10,3.000000,6.620690,0
4,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,5,YBK Jaiswal,...,NaN,NaN,Rajasthan Royals,2,128,115,10,2.400000,6.678261,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198930,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,NaN,NaN,Royal Challengers Bangalore,302,-80,31,-2,20.359551,-15.483871,0
198931,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,NaN,NaN,Royal Challengers Bangalore,303,-81,30,-2,20.200000,-16.200000,0
198932,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,NaN,NaN,Royal Challengers Bangalore,303,-81,29,-2,19.978022,-16.758621,0
198933,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,NaN,NaN,Royal Challengers Bangalore,304,-82,29,-2,20.043956,-16.965517,0
198934,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,caught,BB McCullum,Royal Challengers Bangalore,304,-82,28,-3,19.826087,-17.571429,0

In [100]:
conditions=[delivery_df['BattingTeam']==delivery_df['Team1'],delivery_df['BattingTeam']==delivery_df['Team2']]

In [101]:
choices=[delivery_df['Team2'],delivery_df['Team1']]
delivery_df['BowlingTeam']=np.select(conditions,choices)

In [102]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,fielders_involved,BattingTeam,current_score,run_left,ball_left,wicket,crr,rrr,result,BowlingTeam
0,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,1,YBK Jaiswal,...,NaN,Rajasthan Royals,0,130,119,10,0.000000,6.554622,0,Gujarat Titans
1,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,2,YBK Jaiswal,...,NaN,Rajasthan Royals,1,129,118,10,3.000000,6.559322,0,Gujarat Titans
2,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,3,JC Buttler,...,NaN,Rajasthan Royals,2,128,117,10,4.000000,6.564103,0,Gujarat Titans
3,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,4,YBK Jaiswal,...,NaN,Rajasthan Royals,2,128,116,10,3.000000,6.620690,0,Gujarat Titans
4,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,1,0,5,YBK Jaiswal,...,NaN,Rajasthan Royals,2,128,115,10,2.400000,6.678261,0,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198930,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,NaN,Royal Challengers Bangalore,302,-80,31,-2,20.359551,-15.483871,0,Kolkata Knight Riders
198931,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,NaN,Royal Challengers Bangalore,303,-81,30,-2,20.200000,-16.200000,0,Kolkata Knight Riders
198932,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,NaN,Royal Challengers Bangalore,303,-81,29,-2,19.978022,-16.758621,0,Kolkata Knight Riders
198933,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,NaN,Royal Challengers Bangalore,304,-82,29,-2,20.043956,-16.965517,0,Kolkata Knight Riders
198934,335982,Bangalore,Kolkata Knight Riders,222,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,BB McCullum,Royal Challengers Bangalore,304,-82,28,-3,19.826087,-17.571429,0,Kolkata Knight Riders

In [103]:
final_df=delivery_df[['BattingTeam','BowlingTeam','City','run_left','ball_left','wicket','total_run_x','crr','rrr','result']]

In [104]:
final_df['BowlingTeam']=final_df['BowlingTeam'].astype(str)
final_df

C:\Users\vy916\AppData\Local\Temp\ipykernel_7204\3479350053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['BowlingTeam']=final_df['BowlingTeam'].astype(str)

,BattingTeam,BowlingTeam,City,run_left,ball_left,wicket,total_run_x,crr,rrr,result
0,Rajasthan Royals,Gujarat Titans,Ahmedabad,130,119,10,130,0.000000,6.554622,0
1,Rajasthan Royals,Gujarat Titans,Ahmedabad,129,118,10,130,3.000000,6.559322,0
2,Rajasthan Royals,Gujarat Titans,Ahmedabad,128,117,10,130,4.000000,6.564103,0
3,Rajasthan Royals,Gujarat Titans,Ahmedabad,128,116,10,130,3.000000,6.620690,0
4,Rajasthan Royals,Gujarat Titans,Ahmedabad,128,115,10,130,2.400000,6.678261,0
...,...,...,...,...,...,...,...,...,...,...
198930,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,-80,31,-2,222,20.359551,-15.483871,0
198931,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,-81,30,-2,222,20.200000,-16.200000,0
198932,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,-81,29,-2,222,19.978022,-16.758621,0
198933,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,-82,29,-2,222,20.043956,-16.965517,0
198934,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,-82,28,-3,222,19.826087,-17.571429,0

In [105]:
final_df=final_df.sample(final_df.shape[0])

In [106]:
final_df.sample()

,BattingTeam,BowlingTeam,City,run_left,ball_left,wicket,total_run_x,crr,rrr,result
147171,Royal Challengers Bangalore,Chennai Super Kings,Mumbai,170,117,10,175,10.0,8.717949,0

In [107]:
final_df.dropna(inplace=True)

In [108]:
final_df=final_df[final_df['ball_left']!=0]

In [109]:
from sklearn.model_selection import train_test_split
x=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=1)

In [110]:
x_train

,BattingTeam,BowlingTeam,City,run_left,ball_left,wicket,total_run_x,crr,rrr
159721,Deccan Chargers,0,Dharamsala,-159,10,2,174,18.163636,-95.400000
31509,Rajasthan Royals,Kings XI Punjab,Mumbai,-59,84,2,221,46.666667,-4.214286
74493,Chennai Super Kings,Kolkata Knight Riders,Chennai,-110,44,1,202,24.631579,-15.000000
138784,Deccan Chargers,0,Chennai,-91,38,1,160,18.365854,-14.368421
127359,Delhi Daredevils,0,Delhi,-17,101,6,161,56.210526,-1.009901
...,...,...,...,...,...,...,...,...,...
32174,Mumbai Indians,Royal Challengers Bangalore,Chennai,35,34,7,159,8.651163,6.176471
53457,Kings XI Punjab,Rajasthan Royals,Chandigarh,162,100,10,182,6.000000,9.720000
40952,Kings XI Punjab,Kolkata Knight Riders,Abu Dhabi,-142,19,3,164,18.178218,-44.842105
73948,Mumbai Indians,Sunrisers Hyderabad,Hyderabad,91,76,7,147,7.636364,7.184211
130946,Delhi Daredevils,0,Mumbai,-10,106,4,209,93.857143,-0.566038

In [111]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([('trf',OneHotEncoder(sparse_output=False,drop='first'),['BattingTeam','BowlingTeam','City'])],remainder='passthrough')

In [112]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [113]:
pipe=Pipeline(steps=[('step1',trf),('step2',LogisticRegression(solver='liblinear'))])

In [114]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [115]:
y_pred=pipe.predict(x_test)

In [116]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.5988356422834349

In [118]:
pipe.predict_proba(x_test)[12]

array([0.64647855, 0.35352145])

In [119]:
teams

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Kings XI Punjab']

In [121]:
delivery_df['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Raipur', 'Ranchi', 'Cuttack', 'Dharamsala', 'Nagpur',
       'Johannesburg', 'Centurion', 'Durban', 'Bloemfontein',
       'Port Elizabeth', 'Kimberley', 'East London', 'Cape Town'],
      dtype=object)

In [123]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))